body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  color: white;
  height: 100vh;
  overflow: hidden;
}

.content {
  text-align: center;
  margin-top: 120px;
  padding: 20px;
}

h1 {
  font-size: 3rem;
}

.quote {
  font-size: 1.3rem;
  max-width: 600px;
  margin: auto;
}

/* Menu icon */
.menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  background: white;
  color: #ff4f81;
  border-radius: 50%;
  padding: 10px 14px;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  right: -220px;
  width: 200px;
  height: 100%;
  background: rgba(255,255,255,0.95);
  color: #ff4f81;
  padding: 20px;
  transition: 0.4s;
}

.side-menu h3 {
  text-align: center;
}

.side-menu button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  background: #ff4f81;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.menu-wrapper {
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.click-text {
  margin-right: 18px;
  background: white;
  color: #ff4f81;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 18px;
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.15); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}

